@import url(./typography.css);

* {
  margin: 0;
  padding: 0;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
}

:root {
  --regular-text-color: #393939;
  --weak-accent-color: #e0a449;
  --strong-accent-color: #f17900;
  --surface-color: #ffffff;
  --surface-stroke-color: #f0f1f1;
  --button-color: #f9f9f9;
  --hovered-button-color: #fbd7b24d;
}

body {
  background-color: #fafafa;
  font-family: 'Lexend Deca';
}

body > div > * {
  margin: 0 15%;
}

a {
  text-decoration: none;
  color: var(--regular-text-color);
}

button {
  background: none;
  border: none;
}

button:hover {
  background-color: var(--hovered-button-color);
}

button:active {
  background-color: var(--surface-stroke-color);
}

@media screen and (max-width: 720px) {
  button:active:hover {
    background-color: var(--hovered-button-color);
  }
  button:hover {
    background-color: transparent;
  }
}
