.shortGal {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 16px;
}

@media screen and (max-width: 1000px) {
  .shortGal {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (max-width: 820px) {
  .shortGal {
    grid-template-columns: repeat(1, auto);
  }
}
